## Question 1

Consider the following Python module: </br>

a = 0 </br>

def b(): </br>
    global a </br>
    a = c(a) </br>

def c(a): </br>
    return a + 2 </br>
    
After importing the module into the interpreter, you execute: </br>

b() </br>

b() </br>

b() </br>

a   </br>

?   </br>

 What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a=0

def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

print(b())
print(b())
print(b())
print(a)

2
4
6
6

- In the first b() call the global a is used i.e. 0 which is passed to c() from which the value of a becomes 2 and hence b() returns 2 </br>
- In the second b() call the same process is followed and the a value becomes 4 </br>
- The same thing in the 3rd b() call. The value of a becomes 6 </br>
- As the a used in b() was declared global so the value change of a is made to the global a. Hence the final value of a becomes 6.

## Question 2

#### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

fileLength('midterm.py') </br>

284 </br>

fileLength('idterm.py') </br>

Traceback (most recent call last): </br>

  File "<pyshell#34>", line 1, in module </br>
  
  fileLength('idterm.py') </br>
    
  File "/Users/me/midterm.py", line 3, in fileLength </br>
  
  infile = open(filename) </br>
  
FileNotFoundError: [Errno 2] No such file or directory: </br>

'idterm.py' </br>

As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
  
fileLength('midterm.py') </br>

358 </br>

fileLength('idterm.py') </br>

File idterm.py not found. </br>

In [2]:
def fileLength(filename):
    try:
        open_file = open(filename, 'r')
        file_data = open_file.read()
        length_of_file = len(file_data)
        open_file.close()
        return length_of_file
    except:
        return "file "+ filename + " not found."

In [4]:
fileLength('w3c.txt')

396

In [ ]:
fileLength("idterm.py")

'file idterm.py not found.'

## Question 3

### Write a class named Marsupial that can be used as shown below:

m = Marsupial() </br>

m.put_in_pouch('doll') </br>

m.put_in_pouch('firetruck') </br>

m.put_in_pouch('kitten') </br>

m.pouch_contents() </br>

['doll', 'firetruck', 'kitten']

In [5]:
class Marsupial:

    def __init__(self):
        self.new_list = []
        self.new_list.clear()

    def put_in_pouch(self, value):
        self.new_list.append(value)

    def pouch_contents(self):
        return self.new_list

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: </br>

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, </br>

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and </br>

c. overloads the __str__ operator so it behaves as shown below.

In [6]:
class Kangaroo(Marsupial):

    def __init__(self,x,y):
        self.new_list = []
        self.new_list.clear ()
        self.x = x
        self.y = y

    def  __str__(self):
         return ("I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")")

    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy


k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: </br>

### x={ 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 , 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 </br>

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops. </br>

In [7]:
def collatz(input):

    new_list = [input]
    if input < 1:
        return ("Enter a postive integer")

    if input == 1:
        return [1]

    elif input % 2 == 0:
        new_list.extend(collatz(int(input/2)))
    else:
        new_list.extend(collatz((input*3)+1))
    return new_list

In [8]:
values = collatz(1)
for value in values:
    print(value)

1

In [9]:
values = collatz(10)
for value in values:
    print(value)

10
5
16
8
4
2
1

## Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [10]:
def binary(input):
    if input<0:
        return ("Enter postive integer")

    elif input >=1:
        return ((10*binary(int(input/2))) + (input%2))

    else:
        return 0

In [11]:
binary(0)

0

In [12]:
binary(1)

1

In [13]:
binary(3)

11

In [14]:
binary(9)

1001

## Question 8

Write SQL queries on the below database table that return:

`Note :-` Reffered https://medium.com/@tattwei46/how-to-use-python-with-mysql-79304bee8753 for connecting mysql with jupyter notebook.

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  password="helloworld"
)

mycursor = mydatabase.cursor()

mycursor.execute("CREATE DATABASE problemset2")

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  password="helloworld",
  database = 'problemset2'
)

mycursor = mydatabase.cursor()

mycursor.execute("CREATE TABLE temperature_data (City VARCHAR(255), Country VARCHAR(255), Season VARCHAR(255),Temperature FLOAT,Rainfall FLOAT)")

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  password="helloworld",
  database = 'problemset2'
)

mycursor = mydatabase.cursor()

sql = "INSERT INTO temperature_data (City, Country, Season, Temperature, Rainfall) VALUES (%s,%s,%s,%s,%s)"
val = [
    ('Mumbai','India','Winter',24.8,5.9),
('Mumbai','India','Spring',28.4,16.2),
('Mumbai','India','Summer',27.9,1549.4),
('Mumbai','India','Fall',27.6,346.0),
('London','United Kingdom','Winter',4.2,207.7),
('London','United Kingdom','Spring',8.3,169.6),
('London','United Kingdom','Summer',15.7,157.0),
('London','United Kingdom','Fall',10.4,218.5),
('Cairo','Egypt','Winter',13.6,16.5),
('Cairo','Egypt','Spring',20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall',22.2,4.5)
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

12 record(s) inserted.

### a) All the temperature data. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select temperature from temperature_data"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

### b) All the cities, but without repetition. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select distinct(city) from temperature_data"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Mumbai',)
('London',)
('Cairo',)

### c) All the records for India. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select * from temperature_data where Country = 'India'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

### d) All the Fall records. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select * from temperature_data where Season = 'Fall'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)


### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select City,Country,Season from temperature_data where Rainfall between 200 and 400"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select City,Country from temperature_data where Season = 'Fall' and Temperature > 20 order by temperature"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Cairo', 'Egypt')
('Mumbai', 'India')


### g) The total annual rainfall for Cairo. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select sum(rainfall) from temperature_data where city = 'Cairo'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(27.600000001490116,)


### h) The total rainfall for each season. </br>

In [ ]:
import mysql.connector

mydatabase = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="helloworld",
  database="problemset2"
)
mycursor = mydatabase.cursor()

sql = "select season, sum(rainfall) from temperature_data group by Season"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Winter', 230.09999704360962)
('Spring', 192.30000686645508)
('Summer', 1706.5000244155526)
('Fall', 569.0)

## Question 9

Suppose list words is defined as follows: </br>

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] </br>

Write list comprehension expressions that use list words and generate the following lists: </br>

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG'] </br>

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] </br>

c)[3, 5, 5, 3, 5, 4, 3, 4, 3](the list of lengths of words in list words). </br>

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.) </br>

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

def upper(words):
    upper_case_list = []
    for word in words:
        upper_case_list.append(word.upper())
    return upper_case_list

def lower(words):
    lower_case_list = []
    for word in words:
        lower_case_list.append(word.lower())
    return lower_case_list

def length_of_words(words):
    word_length_list = []
    for word in words:
        word_length_list.append(len(word))
    return word_length_list

def upper_lower_length_of_words(words):
    final_list = []
    upper_lower_length_of_words_list = []
    for word in words:
        upper_lower_length_of_words_list.clear()
        upper_lower_length_of_words_list.append(word.upper())
        upper_lower_length_of_words_list.append (word.lower())
        upper_lower_length_of_words_list.append (len(word))
        new_list = upper_lower_length_of_words_list.copy()
        final_list.append(new_list)
    return final_list

def check_word_length(words):
    word_length = []
    for word in words:
        if len(word) > 3:
            word_length.append(word)
    return word_length

print(upper(words))
print(lower(words))
print(length_of_words(words))
print(upper_lower_length_of_words(words))
print(check_word_length(words))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']